@{
    ViewBag.Title = "Test the Bot";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<iframe width="500" height="500" src='https://webchat.botframework.com/embed/sandwichbotsofie?s=zHZGTuyihh4.cwA.WzY.Ali8QP5oiJw-zP5dgz_CY6k_1sDqCU3GwC765iWcL2I'></iframe>
